.factbox-main{
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.factbox{
    padding: 16px;
    color: #FFFF;
    border: 1px solid rgb(57, 57, 57);
    margin:20px;
    min-width: 190px;
    max-height: 100px;
}
.factbox *{
    margin: 10px;  
    text-transform: uppercase;
}
.fact-title{
    color:grey;
    font-size: 14px;
    margin: 10px 10px;
}
.fact-data{
    font-size: 40px;
    font-family: 'Antonio', sans-serif;
}
@media(max-width: 1087px) {
  .factbox{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
  }
  .factbox-main{
    width: 100%;
    padding-bottom: 20px;
  }
}
@media(max-width:877px){
  .factbox-main{
    flex-direction: column;
    height: inherit;
   }
   .factbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
}