nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #97979776;
}
.nav-el, .nav-logo{
    text-decoration: none;
    color: white;
}
.nav-logo{
    font-family: 'Antonio', sans-serif;
    font-size: 27px;
    
}
.nav-el{
 padding: 1rem;
 text-transform: uppercase;
 font-size: 14px;
}