.planet-page{
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planet-container{
    display: flex;
    justify-content: space-evenly;
}
.planet-img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.planet-img img{
    max-width: 400px;
    margin-left: 100px;
}
.planet-info{
    flex: 0 0 25%;
}
.planet-info-main h1{
  font-family: var(--ff-antonio);
  font-size: 80px;
  font-weight: 300;
}
.planet-info-main p{
    line-height: 25px;
    font-weight: 300;
    margin: 0;
}
.source-info{
    margin-top: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    color: #ffffffc5;
}
.source-info p{margin-right: 5px;}
.source-info img{margin-left: 4px;}
.source-info a{
    color: #ffffffc5;
}
.interactive-btn{
    display: flex;
    background-color: transparent;
    border: 1px solid rgb(100, 100, 100);
    cursor: pointer;
    margin: 20px 0;
    text-transform: uppercase;
}
.interactive-btn *{
    margin: 20px;
}
.main-img{
    display: inline;   
}
.secondary-img{
    display: none;
}
#geology-img{
    position: absolute;
    bottom: -110px;
    left: 110px;
    max-width: 180px;
    animation-timing-function: linear;
    animation: move 2s 1;
}
@keyframes move {
  from {left: 0px;}
  to {left: 110px;}
}
.main--geology-container{
    position: relative;
}
.interactive-button-container:active{
    background-color: #419EBB;
    color: #FFFF;
}

.active{
    background-color:#419EBB;
    
}
@media(max-width: 1087px) {
   .planet-container{
     flex-direction: column;
   } 
   .planet-info{
    display: flex;
    justify-content: space-around;
   }
   .planet-info-main{
    flex: 0 0 40%;
   }
   .planet-buttons{
    flex: 0 0 45%;
    margin:80px 0;
   }
   .main-img{
    margin-right: 100px;

    width: 220px;
   }
   .planet-img{
    margin: 150px;

   }
   .planet-page{
    align-items:flex-start;
    justify-content: flex-start;
   }
   #geology-img{
    max-width: 150px;
    left: 50px;
    bottom: -130px;
   }
   @keyframes move {
    from {left: 0px;}
    to {left: 50px;}
  }
}

@media(max-width: 877px){
  .planet-page{
    margin: 0;
    padding: 0;
  }
  .planet-container{
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
  }
  .planet-info{
    flex-direction: column;
    justify-content: center;
  }
  .planet-info-main{
   text-align: center;
  }
  .source-info{
    justify-content: center;
  }
  .main-img img{
    width: 170px;
  }

  .wiki-p{
    max-width: 500px;
    margin: 0 auto;
  }
  .planet-buttons{
    display: flex;
    max-height: 100px;
    justify-content: center;
    
  }
  .num{
    display: none;
  }
  .interactive-btn{
    max-width: 300px;
    align-items: center;
    text-align: center;
  }
}