:root{
    --ff-antonio:'Antonio', sans-serif;
    --ff-spartan:'League Spartan', sans-serif;
    
}
body{
   height: 100vh;
   width: 100%;
   font-family: var(--ff-spartan );  
   background-color: rgb(9, 9, 28);
   color: white;
   overflow-x: hidden;
   overflow-y: scroll; 
}

